.profile-main {
    position: relative;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.header-menu-bar {
    position: absolute;
    top: -1px;
}

.profile-image-frame {
    display: box;
    display: -ms-box;
    display: -moz-box;
    display: -o-box;
    display: -webkit-box;
    box-align: center;
    -ms-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -webkit-box-align: center;
    box-pack: center;
    -ms-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -webkit-box-pack: center;
    position: absolute;


     border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;


    top: 28%;
    left: 5%;
    height: 150px;
    width: 150px;
    /*border: 1px solid #CECECE;
    box-shadow: 1px 1px 3px solid #CCCCCC;
    -webkit-box-shadow: 1px 1px 3px solid #CCCCCC;
    background: #FEFEFE;*/
    text-align: center;
}

.profile-image-frame img {
    display: inline-block;
    width: 150px;
    height: 150px;


     border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;

    padding-top: 4px;
}

.image-title {
    opacity: 0.4;
    margin: 3% 0 8% 42%;
}

.box-for-3-items {
    text-align: center;
    padding: 4px 0 8px 0;
}

.box-for-3-items button {
    width: 90px;
    height: 28px;
    line-height: 18px;
}

.box-for-3-items img {
    display: inline-block;
    width: 90px;
    margin: 0 auto 0 auto;
}

.profile-description-text {
    width: 80%;
    margin: 12px auto 12px auto;
    opacity: 0.5;
}


.list--noborder {
  border-top: none;
  border-bottom: none;
}
.list__header {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  font-size: 15px;
  font-weight: 500;
  background-color: #eee;
  color: #1f1f21;
  text-shadow: none;
  border-top: none;
  border-bottom: none;
  min-height: 24px;
  line-height: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .list__header:first-child {
    border-top: none;
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top;
    background-image: -webkit-linear-gradient(270deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -moz-linear-gradient(270deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -o-linear-gradient(270deg, #ddd, #ddd 50%, transparent 50%);
    background-image: linear-gradient(180deg, #ddd, #ddd 50%, transparent 50%);
  }
}
.list {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: left;
  overflow: auto;
  display: block;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .list {
    border: none;
    -webkit-background-size: 100% 1px, 100% 1px;
    background-size: 100% 1px, 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom, top;
    background-image: -webkit-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%), -webkit-linear-gradient(270deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -moz-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%), -moz-linear-gradient(270deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -o-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%), -o-linear-gradient(270deg, #ddd, #ddd 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%), linear-gradient(180deg, #ddd, #ddd 50%, transparent 50%);
  }
}
.list__item {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 0 10px 0 10px;
  margin: 0 0 0 0;
  border-top: none;
  border-bottom: 1px solid #ddd;
  color: #1f1f21;
  background-color: transparent;
  min-height: 44px;
  line-height: 44px;
}
.list__item--no-padding {
  padding: 0;
}
.list__item__line-height,
.list__item--line-height {
  line-height: 44px;
}
.list__item_active:active {
  background-color: #d9d9d9;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.list__item:first-child {
  border-top: none;
  border-bottom: 1px solid #ddd;
}
.list__item:last-child {
  border-bottom: none;
}
.list__item:first-child:last-child {
  border-top: none;
  border-bottom: none;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .list__item:not(:last-child) {
    border-bottom: none;
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: -webkit-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -moz-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -o-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
  }
}
.list__item--chevron {
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  overflow: hidden;
}
.list__item--chevron:active {
  background-color: #d9d9d9;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.list__item--chevron:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.list__item--chevron:before {
  position: absolute;
  right: 16px;
  top: 50%;
  color: #ddd;
  line-height: 28px;
  height: 28px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 28px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\f105";
}
.list--inset {
  margin-left: 8px;
  margin-right: 8px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-image: none;
}
.list--inset__item:not(:last-child) {
  border-bottom: 1px solid #ddd;
  background-image: none;
}


.list--noborder {
  border-top: none;
  border-bottom: none;
}
.list__header {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  font-size: 15px;
  font-weight: 500;
  background-color: #eee;
  color: #1f1f21;
  text-shadow: none;
  border-top: none;
  border-bottom: none;
  min-height: 24px;
  line-height: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .list__header:first-child {
    border-top: none;
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top;
    background-image: -webkit-linear-gradient(270deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -moz-linear-gradient(270deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -o-linear-gradient(270deg, #ddd, #ddd 50%, transparent 50%);
    background-image: linear-gradient(180deg, #ddd, #ddd 50%, transparent 50%);
  }
}
.list {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: left;
  overflow: auto;
  display: block;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .list {
    border: none;
    -webkit-background-size: 100% 1px, 100% 1px;
    background-size: 100% 1px, 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom, top;
    background-image: -webkit-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%), -webkit-linear-gradient(270deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -moz-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%), -moz-linear-gradient(270deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -o-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%), -o-linear-gradient(270deg, #ddd, #ddd 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%), linear-gradient(180deg, #ddd, #ddd 50%, transparent 50%);
  }
}
.list__item {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 0 10px 0 10px;
  margin: 0 0 0 0;
  border-top: none;
  border-bottom: 1px solid #ddd;
  color: #1f1f21;
  background-color: transparent;
  min-height: 44px;
  line-height: 44px;
}
.list__item--no-padding {
  padding: 0;
}
.list__item__line-height,
.list__item--line-height {
  line-height: 44px;
}
.list__item_active:active {
  background-color: #d9d9d9;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.list__item:first-child {
  border-top: none;
  border-bottom: 1px solid #ddd;
}
.list__item:last-child {
  border-bottom: none;
}
.list__item:first-child:last-child {
  border-top: none;
  border-bottom: none;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .list__item:not(:last-child) {
    border-bottom: none;
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: -webkit-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -moz-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -o-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
  }
}
.list__item--chevron {
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  overflow: hidden;
}
.list__item--chevron:active {
  background-color: #d9d9d9;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.list__item--chevron:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.list__item--chevron:before {
  position: absolute;
  right: 16px;
  top: 50%;
  color: #ddd;
  line-height: 28px;
  height: 28px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 28px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\f105";
}